<div class="d-flex justify-content-center mt-5 mb-3">
    <div class="col-5">
      <div class="form-group">
        <input class="form-control form-control-lg" placeholder="{{stock?.symbol}}" readonly="readonly">
    </div>
    <div class="form-group">
                                                                     <!-- može samo quantitivo -->       
   <input class="form-control form-control-lg" placeholder="Current Quantity: {{stock?.totalQuantity}}" 
        readonly="readonly">
    </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <app-text-input formControlName="price" [label]="'Price'"></app-text-input>
            <app-text-input formControlName="quantity" [label]="'Quantity'"></app-text-input>

             <div *ngIf="f.quantity.errors && f.quantity.touched">
              <span class="text-danger" *ngIf="f.quantity.errors.required">
                  You are selling to much!
              </span>
            </div>      
            <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
          </form>
        </div>
      </div>

