<div class="container mt-5 mb-3">
  <div *ngIf="profit1?.grossProfit">
    <div class="container">   
   <!--    <div class="form-inline pull-left">
          <button routerLink="/stocksAdmin/addadminstock/"  class="btn btn-info my-2 mr-2">
            Please Select your Current Residence
          </button>          
      </div> -->
    <table class="center table table-bordered table-striped table-condensed table-hover">
      <thead>
          <tr>
              <th>
                Total Gross Profit
              </th>
              <th>
                 {{profit1?.grossProfit | currency}}
              </th>
          </tr>
          <tr>
              <th>
                Capital Gains Tax (12%)
              </th>
              <th>
            {{profit1?.capitalGainsTax | currency}}
        </th>
          </tr>
          <tr>
              <th>
                Surtax (18%)
              </th>
              <th>
                 {{profit1?.surtax | currency}}
              </th>
          </tr>
          <tr>
            <th>
                Total Tax Liability
            </th>
            <th>
                {{profit1?.totalTaxLiaility | currency}}
            </th>
          </tr>
          <tr>
              <th>
                Total Net Profit
              </th>
              <th>
                 {{profit1?.netProfit | currency}}
              </th>
          </tr>
      </thead>
      </table>
  </div>
   <div *ngIf="!profit1?.grossProfit">
     <br/>
    <div class="form-group text-center wiki">
      <h2>There is no profit!</h2>               
  </div>
   </div>
</div>
