
<div class="container mt-3 mb-5">     
    <table class="center table table-bordered table-striped table-condensed table-hover">
        <thead class="piki">
            <tr>
                <th>
                  Total Price of Purchase
                </th>
                <th>
                    {{total | number: '1.2-2'}} kn
                </th>
            </tr>
            <tr>
                <th>
                  Current Portfolio Market Value
                </th>
                <th>
                    {{total1 | number: '1.2-2'}} kn
          </th>
            </tr>
            <tr>
                <th>
                  Profit/Loss
                </th>
                <th>
                    {{(total1 - total) | number: '1.2-2'}} kn
                </th>
            </tr>
        </thead>
        </table>
    <div class="form-inline pull-right">
        <input (keyup.enter)="onSearchUser()" type="text" 
        class="form-control mr-2" #searchTu style="width: 300px;"  
        placeholder="Search">
        <button (click)="onSearchUser()" class="btn btn-info my-2">Search</button>
        <button (click)="onResetTu()" class="btn btn-success ml-2">Reset</button>
    </div>   
    <table class="table table-bordered table-striped table-condensed table-hover">
        <thead>
          <tr style="color: black;">
              <th>
                  Symbol
              </th>              
              <th>
                  Quantity
              </th>                    
             
              <th>
                  Purchased
              </th>
              <th>
                  Purchased Value
              </th>
              <th>
                Market
            </th>
              <th>
                Market Value
            </th>
              <th>
                  Share
              </th>
              <th>
                  Yield
              </th>
              <th>
              </th>              
          </tr>
              </thead>
              <tbody>
      <tr *ngFor="let item of portfolioAccount" style="color: black;">
         
          <td>{{item.symbol}}</td>
          <td>{{item.totalQuantity}}</td>
          <td>{{item.averagePriceOfPurchase | number: '1.2-2'}} kn</td>
         <td>{{item.averagePriceOfPurchase * item.totalQuantity | number: '1.2-2'}} kn</td>
          <td>{{item.currentPrice | number: '1.2-2'}} kn </td>
          <td>{{item.currentPrice * item.totalQuantity | number: '1.2-2'}} kn</td>
          <td>{{item.portfolioPercentage | number : '1.2-2'}} % </td>
          <td>{{(((item.totalQuantity * item.currentPrice) - (item.totalQuantity * item.averagePriceOfPurchase))
               / (item.totalQuantity * item.averagePriceOfPurchase)) * 100 | number : '1.2-2'}} % </td>
          <td>  
              <div class="text-center">
                <button routerLink="/stocks/{{item.stockId}}" 
                class="m-0 btn btn-info mr-1  d-inline">Details</button>
                <button routerLink="/stocks/addstockReactive/{{item.stockId}}"  
                class=" btn btn-success mr-1 d-inline">Add Stock</button>
                <button routerLink="/stocks/sellstockReactive/{{item.stockId}}"  
                class=" btn btn-danger d-inline">Sell Stock</button>
              </div>
        </td>
      </tr>
              </tbody>    
    </table>
    </div>
    