<div class="d-flex justify-content-center mt-3 mb-3">
    <div class="col-5">
        <div class="form-group">
            <label>Stock</label>
            <input class="form-control form-control-lg" placeholder="{{stock.symbol}}" name="price">
        </div>
        <form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">    
            <div class="form-group">
                <label>Price</label>
                <input class="form-control form-control-lg" placeholder="Price" name="price"
                #price="ngModel" [(ngModel)]="stocksService.formData.price">
            </div>
            <div class="form-group">
                <label>Quantity</label>
                <input class="form-control form-control-lg" placeholder="Quantity" name="quantity"
                #quantity="ngModel" [(ngModel)]="stocksService.formData.quantity">
            </div>
           <!--  <div class="form-group">
                <label>Resolved</label>
                <input class="form-control form-control-lg" placeholder="Resolved" name="resolved"
                #resolved="ngModel" [(ngModel)]="stocksService.formData.resolved">
            </div> -->
                <div class="meki form-group">
                    <button class="zeki btn btn-info btn-lg btn-block mt-3" type="submit">SUBMIT</button>
                </div>
                 
            </form>
        </div></div>
      
    

